<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Book05</display-name>
  <servlet>
        <servlet-name>Link</servlet-name>
        <servlet-class>com.kogent.Link</servlet-class>
</servlet>

<servlet-mapping>
        <servlet-name>Link</servlet-name>
        <url-pattern>/Link</url-pattern>
</servlet-mapping>
</web-app>